@font-face {
  font-family: 'icons-blank-theme';
  src: url('../fonts/Blank-Theme-Icons/Blank-Theme-Icons.woff2') format('woff2'), url('../fonts/Blank-Theme-Icons/Blank-Theme-Icons.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.product_addit_info {
	font-weight: bold;
	text-decoration: underline;
}

.cms-policy-subtext {
	font-size: 12px;
}

.header-logo img {
	width:100%;
}

.header-content, .header-bottom, .header-sticker {
	background: -moz-linear-gradient(left,  #486593 0%, #002868 34%, #002868 62%, #486593 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left,  #486593 0%,#002868 34%,#002868 62%,#486593 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right,  #486593 0%,#002868 34%,#002868 62%,#486593 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#486593', endColorstr='#486593',GradientType=1 ); /* IE6-9 */
}

@media (min-width: 992px) {
	.hidden-top-bar {
		width: 30% !important;
		float: right;
	}
}

.header .form-search {
	border-color: #f25757 !important;
	height: 30px;
	border-radius: 15px;
}

.header .form-search .fa-search {
	line-height: 19px !important;
}

.header .form-search button.button, .header .form-search button.button span {
	height: 22px;
}


.header .form-search input.input-text {
	height: 28px;
}

.header .headNumber {
	margin-top: 9px;
	margin-left: 9px;
	color: white;
	font-size: 15px;
}

.header .headNumber a {
	color: white;
}

.setting-up {
	display: none;
}

.callfor-popup {
	display: none;
}


div.choice label.label {
        word-wrap: normal;
        word-break: break-all;
}

.item:hover .link-view {
        visibility: hidden;
}

.product-reviews-summary.short {
        display:none;
}

.products-grid .product-name {
        height: 58px;
        margin-top: 4px;
}

.navButtons a {
       background:#445268;
       color: #FFF !important;
}

.navButtons a:hover {
       background:#445268 !important;
       color: #f2c557 !important;
}

.navButtons a:active {
       background: #445268 !important;
}

.navButtons p {
       line-height: 40px;
}



.level-top-mega.parent-full-width {
	background: #666666 !important;
	border-top: none !important;
}

.level-top-mega.parent-full-width a {
	color: #FFF !important;
	padding: 5px 0 5px !important;
	border-style: none !important;
	line-height: 15px !important;
	display: table-cell !important;
	vertical-align: middle;
}

.level-top-mega.parent-full-width a:hover {
	color: #f2c557 !important;
}

.children.level1.category-item {
	height: 45px;
	border-bottom: 2px dotted #848484 !important;
	display: table;
}

.children.level1.category-item:hover {
	background: #333;
	border-radius:2px;
	border-bottom: 2px dotted #333 !important;
}

.level0.category-item.level-top.cat.nav-1.hasChild.parent > a:first-child {
        pointer-events: none;
        cursor: default;
        text-decoration: none;
}


.callforlabel span {
	font-size: 13px !important;
}

.sections.nav-sections a {
	text-transform: uppercase;
}


.thumb {
	display:inline-block;
	margin-left:auto;
	margin-right:auto;
	min-width:80px;
	min-height:80px;
  	padding: 4px;
	margin-bottom:3px;
  	border: 1px solid #ededed;
}

a:hover .thumb {
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=70);
	filter:alpha(opacity=70);
	-moz-opacity:0.7;
	-khtml-opacity: 0.7;
	opacity: 0.7;
	border-color:#FF0000;
}

.thumb img {
	max-width:80px;
	max-height:80px;
}

.img185 {
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=100);
	filter:alpha(opacity=100);
	-moz-opacity:1;
	-khtml-opacity: 1;
	opacity: 1;
}


@media (min-width: 992px) {
	.content-logo {
		width: 66%;
	}
}

@media (max-width: 364px) {
	.header .logo {
		max-width: 250px !important;
	}
}

@media (max-width: 320px) {
	.minicart-wrapper {
		padding-top: 15px;
	}
}

.item-info .price-excluding-tax .cart-price .price {
	font-size: 12px !important;
	color: #999 !important;
}


.price-box .minimal-price {
	line-height: 34px;
}

.radFin {
	text-align: center;
	padding-bottom: 20px;
	margin-bottom: 10px;
	border-bottom: solid 1px #ececec;
}

.slick-track .minimal-price {
	line-height: 16px !important;
}

.magic-category .block-title-tabs li {
	display: none;
}

.textBoxHome {
	margin: 45px 20px 0px 20px;
	background: #dbd9d9;
	border-radius: 5px;
	padding: 10px 20px;
	height: 80%;
	color: #333333;
	overflow: auto;
}

.textBoxHome img {
	margin: 4px;
}

.openShowroomHead {
	font-size: 15px;
}

.textRow {
	height: 100%;
}

@media (min-width: 768px) {
  .homeRow {
    display: flex;
    flex-wrap: wrap;
  }
}

.homeBoxesClass .policy-wrap {
	padding-top: 0px !important;
}


.cms-content h1 {
	font-size: 25px;
	margin-bottom: 5px;
}

.m-button:not(.m-accept) {
	display: none !important;
	visibility: hidden;
}


.options dt {
	display: none;
}

.options .items .item {
	display: inline-block;
	vertical-align: bottom;	
}

.options .items .item a {
	background: #666666;
	color: #fff;
	padding: 10px;
	margin: 3px 0 0 0;
	font-size: 14px;
	font-weight: bold;
	text-transform: uppercase;
	border-radius: 4px;
	width: 165px;
	display: block;
	line-height: 15px;
	height: 50px;	
}

@media (max-width: 330px) {
	.options .items .item a {
		width: 140px;
		font-size: 12px;
        }
}

.options .items .item a:hover {
	color: #f2c557;
	background: #333;
}

.item::after {
	content: none !important;	
}

.items .item .count {
	display: none;
}

.grouped tfoot th {
	padding-top:5px !important;
}

.table-wrapper.grouped {
	margin-bottom: 50px !important;
}

.groupedAnchor {
	position: relative;
	top: -110px;
	visibility: hidden;
}

.headRemove {
	display: none;
}

.groupedInput {
	display: inline;
	width: 20% !important;
}

.groupedInputMobile {
	display: block;
}

.groupedInputSkuMobile {
	margin-bottom: 10px;
}

#super-product-table tr {
	border-bottom: 1px solid #b6b6b6;
}

#super-product-table .success {
	color: #666666 !important;
}


.productTable {


}

.productTable__search {

	display: flex;
	justify-content: space-around;
	

}

.productTable__search-sku {

	display: flex;
	

}

.productTable__header {

	padding: 10px;
	background-color: grey;
	color: white;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.productTable__products {

	display: flex;
	flex-direction: row;
	justify-content: space-around;

	
}


.productTable__products div {

	border: 1px solid #555;
}