<?xml version="1.0"?>
<!--
/**
 * @author      WebPanda
 * @package     WebPanda_AutoInvoice
 * @copyright   Copyright (c) WebPanda (https://webpanda-solutions.com/)
 * @license     https://webpanda-solutions.com/license-agreement
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="webpanda_tab" translate="label" sortOrder="450">
            <label>WebPanda Extensions</label>
        </tab>
        <section id="auto_invoice" translate="label" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Auto Invoice and Shipment</label>
            <tab>webpanda_tab</tab>
            <resource>WebPanda_AutoInvoice::config</resource>
            <group id="default" translate="label" type="text" sortOrder="4" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General</label>
                <field id="order_total" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Generate for Orders</label>
                    <source_model>WebPanda\AutoInvoice\Model\Config\Source\OrderTotal</source_model>
                </field>
                <field id="enabled_invoice" translate="label" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Auto Invoice Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="enabled_send_invoice_mail" translate="label" type="select" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Send Invoice Email Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <depends>
                        <field id="enabled_invoice">1</field>
                    </depends>
                </field>
                <field id="enabled_shipment" translate="label" type="select" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Auto Shipment Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="enabled_send_shipment_mail" translate="label" type="select" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Send Shipment Email Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <depends>
                        <field id="enabled_shipment">1</field>
                    </depends>
                </field>
            </group>
        </section>
    </system>
</config>
